.item-1 {
  width: 2em; }

.item-2 {
  width: 4em; }

.item-3 {
  width: 6em; }

.li-1 {
  width: 2em; }

.li-2 {
  width: 4em; }

.puma-icon {
  background-image: url("/images/puma.png"); }

.leon-icon {
  background-image: url("/images/leon.png"); }

.egret-icon {
  background-image: url("/images/egret.png"); }

.salamander-icon {
  background-image: url("/images/salamander.png"); }

.item-3 {
  width: 6em; }

.item-1 {
  width: 2em; }
