.display {
    grid-column: span 4;
    background-color: #162430;
    color: #fff;

    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    overflow: hidden;
}