
$name: destaque;
$attr: border;

// o simbolo #{ } é dado ao utilizar interpolação

p.#{$name} {
    #{$attr}-color: blue;
}

p {
    $font: 14pt;
    $line-height: 30px;
    font: #{$font}/#{$line-height};
}