@import "./../../main/var.css";

.tabs {
  background-color: #fff;
  width: 100%;
  padding: 0.7rem;
}

.navTabs {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 6px;
  border-bottom: 2px solid var(--ligth);
}

.navTabs li a {
  color: #000;
  font-size: 0.9rem;
}

.tab-content {
  padding: 1rem;
}