@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import "./../main/var.css";

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  font-weight: 300;
}

li {
  list-style: none;
}

a { 
  text-decoration: none;
}

body {
  background-color: var(--ligth);
}

.btn {
  background-color: var(--bg-default-light);
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9rem;
  margin: 3px;
}

.mainSection {
  height: calc(100vh - 6rem);
}

.bg-green {
  background-color: var(--bg-green) !important;
}

.bg-red {
  background-color: var(--bg-red) !important;
}

.bg-blue {
  background-color: var(--bg-blue) !important;
}

.bg-gray {
  background-color: var(--bg-lightened-dark) !important;
}

.bg-yellow {
  background-color: var(--bg-yellow) !important;
}

.bg-orange {
  background-color: var(--bg-orange) !important;
}