.Menu {
  display: flex;
  flex-basis: 250px;

  background-color: dodgerblue;
}

.Menu nav {
  flex: 1;
}

.Menu ul {
  list-style: none;
}

.Menu li {
  display: flex;
}

.Menu li a {
  flex: 1;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 10px;
}

.Menu li a:hover {
  background-color: #00000030;
}