body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-weight: 300;
    font-size: 3rem;
}

.red {
    font-weight: 700;
    color: red;
}

.input {
    font-weight: 300;
    font-size: 2rem;
    width: 30%;
    margin: 20px 0px;
}

.btn {
    border-radius: 25px;
    margin: 10px;
    padding: 15px 35px;
    border: none;
    outline: none;
    background-color: #0092c3;

    font-size: 1rem;
    color: #fff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}